.maincontainer {
    height: 76vh;
    width: 65vh;
    overflow-x: scroll;
    border-radius: 6%;
    margin-top: 6%;
    margin-left: 30%;
    background: radial-gradient(circle at 94% 83%, rgba(25, 110, 142, 1) 0%, rgba(82, 100, 145, 1) 100%);
}

#show-intro {
    width: 3%;
    height: 10vh;
    border: 1.6px solid rgb(28, 60, 128);
    border-left: none;
    position: absolute;
    bottom: 50%;
    right: 67%;
    cursor: pointer;
}

#show-intro i {
    width: 90%;
    display: flex;
    justify-content: center;
    padding-top: 70%;
    animation: moveRight 0.8s linear infinite alternate;
}

@keyframes moveRight {
    0% {
        transform: translateX(-4px);
    }

    100% {
        transform: translateX(6px);
    }
}