.maincontainer {
    height: 76vh;
    width: 65vh;
    overflow-x: scroll;
    border-radius: 6%;
    margin-top: 6%;
    margin-left: 30%;
}

#show-intro {
    width: 10%;
    height: 10vh;
    border: 1.6px solid rgb(28, 60, 128);
    border-left: none;
    position: relative;
    bottom: 60%;
    right: 0%;
    cursor: pointer;
}

#show-intro i {
    width: 90%;
    display: flex;
    justify-content: center;
    padding-top: 65%;
    animation: moveRight 1.2s linear infinite alternate;
}

@keyframes moveRight {
    0% {
        transform: translateX(-4px);
    }

    100% {
        transform: translateX(4px);
    }
}