.heading {
    width: 80%;
    height: 18%;
    padding-top: 12%;
    padding-left: 8%;
    margin-left: 11%;
    overflow: auto;
}

.heading h2 {
    color: rgb(47, 24, 104);
    font-size: 24px;
    font-weight: 800;
}
