html,
body {
    width: 100%;
    height: 100%;
    background-color: rgb(68, 75, 82);
    overflow-y: hidden;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

.wrapper {
    width: 120vh;
    height: 76vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 17%;
    margin-top: 6%;
}

.maincontainer {
    height: 76vh;
    width: 50%;
    border-radius: 6%;
    background: radial-gradient(circle at 94% 83%, rgba(25, 110, 142, 1) 0%, rgba(82, 100, 145, 1) 100%);
}

.maincontainer-with-openintro {
    height: 76vh;
    width: 50%;
    border-top-right-radius: 6%;
    border-bottom-right-radius: 6%;
    background: radial-gradient(circle at 94% 83%, rgba(25, 110, 142, 1) 0%, rgba(82, 100, 145, 1) 100%);
}

.maincontainer-openintro {
    width: 50%;
    height: 76vh;
}
